<app-search (searchChange)="onSearchChange($event)"></app-search>
<!--<ul>-->
<!--  @for (user of users; track user.id) {-->
<!--    <li>{{ user.name }} - {{ user.email }}</li>-->
<!--  } @empty {-->
<!--    <li>Aucun utilisateur trouvé.</li>-->
<!--  }-->
<!--</ul>-->
<ul>
  @for (user of users; track user.id) {
  <li>
    <app-user-detail [user]="user"></app-user-detail>
    <app-button-delete (clickedToDelete)="deleteUser(user.id)"></app-button-delete>
  </li> }
</ul>
<p>{{searchText}}</p>

<br>
<br>
<br>
<div>
  @switch (condition) {
    @case ('A') {
      <p style="color: blue">Bleu.</p>
    }
    @case ('B') {
      <p style="color: red">Rouge.</p>
    }
    @default {
      Cas par défaut.
    }
  }
</div>
